.idea
.DS_Store
docs/api
doc/api
bin
build
APDescription.txt
MTPs-Main-Container.txt
.vscode

.idea
.vscode

*.log
.stop___MAS
*~
.gradle
.settings
doc/*.html

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

readme.html
release-notes.html

src/test/java/project/log

.classpath
.project
demos/snapshot/sn.ser

demos/demo-nodered-mqtt/node-red/.config.json
demos/demo-nodered-mqtt/node-red/settings.js
demos/demo-nodered-mqtt/node-red/package.json
demos/demo-nodered-mqtt/node-red/flows_cred.json
demos/demo-nodered-mqtt/node-red/flows/.flows.json.backup
demos/demo-nodered-mqtt/node-red/.config.json.backup
settings.gradle
demos/integration/dummyart-nodered-mqtt/node-red/.config.json.backup
demos/integration/dummyag-nodered-mqtt/node-red/.config.json.backup
doc/devs/creating-packages/based-on-existing-project.html
